.footer {
  background-color: #2E2F42;
  padding-top: 96px;
  padding-bottom: 96px;
  
}
.social-networks {
  @media screen and (min-width: 768px) and (max-width: 1157px) {
    width:552px;
    align-items: flex-start;
  }
 
  display: flex;
  flex-direction: column;

  align-items: center;
  

  @media screen and (min-width: 1158px) {
    flex-direction: row;
    
    align-items: baseline;
  }
}
.footer__logo {
  color: #F4F4FD;

  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;

  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  margin-bottom: 20px;
  display: block;

  

  // for 468
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
  

  &:hover {
    color: $accent-color;
  }
}

.footer__web {
  color: $accent-color;
  font-family: Oleo Script, cursive;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
}
.tablet__digital {
  font-style: normal;
  color: #F4F4FD;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 268px;
  margin-bottom: 72px;
}


.social-network {
  
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    margin-left: 24px;
  }
  @media screen and (min-width: 1158px) {
    
    margin-left: 120px;
  }
}

.social-network__join {
  text-align: center;

  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.social-list__links {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4D5AE5;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: blueviolet;
  }
}

.social-list__icon {
  fill: #F4F4FD;
}
.form {
  // margin-left: 0px;
  margin-top: 72px;

  @media screen and (min-width: 1158px) {
    margin-top: 0px;
    margin-left: 80px;
  }
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px){
    
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
  }
}
.form__label {
  display: flex;
  flex-direction: column;
  margin: 0;
  
}
.form__text {
  font-family: inherit;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-bottom: 20px;
  // for 468
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.form__input {
  display: inline-flex;
  padding: 8px 16px;
  border: 1px solid #FFFFFF;
  opacity: 0.6;
  border-radius: 4px;
  font-family: inherit;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  background-color: #2E2F42;
  min-width: 310px;
  color: #FFFFFF;
  @media screen and (min-width:768px) {
    min-width: 264px;
  }

  outline: none;
  @media screen and (min-width: 1158px) {
    min-width: 264px;
  }

  &::placeholder {
    color: #FFFFFF;
    opacity: 0.6;
  }
}

.form__button {
  font-family: inherit;
  cursor: pointer;
  color: $secondary-text-color;
  background-color: #4D5AE5;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  // for 468
  margin-top: 16px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
    margin-left: 24px;
  }
}
.form__icon {
  fill: currentColor;
  margin-left: 16px;
}
@media screen and (min-width: 768px) {
  .tablet-flex {
    display: flex;
    align-items: baseline;
  }
}

