// Mobile-menu
.mob-menu-container {
  position: relative;
  margin: 0 auto;
  padding: 80px 40px 40px 40px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  @media screen and (min-width: 428px) {
    width: 428px;
}
}
  
.menu-toggle {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
 
  background-color:transparent;
  
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover .icon-close-mob,
.menu-toggle:focus .icon-close-mob,
.menu-toggle:hover .icon-menu,
.menu-toggle:focus .icon-menu {
  fill: $accent-color;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  max-height:796px;
  // padding: 80px 40px 40px 40px;
  box-shadow: 0px 50em 4px rgba(0, 0, 0, 0.35);
  
  background-color: #ffffff;
  
  z-index: 999;
  
  overflow: auto;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  // display:flex;
  // flex-direction: column;
  // justify-content: space-between;
}


.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
}
.mobile-menu__link {
  color: $title-text-color;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  display: block;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.mobile-menu__item:not(:last-child) {
  margin-bottom: 40px;
}
.mobile-menu__link--current {
  color: #404BBF;
}
.mobile-contacts__link-tel {
  font-size: 24px;
  color: $primary-text-color;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  &:hover,
  &:focus {
    color:$accent-color;
  }
  
}
.mobile-contacts__link {
  font-size: 20px;
  color: $primary-text-color;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color:$accent-color;
  }
}
 .block-bottom {
  display: block;
  margin-top: 50px;
 }
.mobile-contacts__item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-comand-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 48px;

  // &__icon {
  //         margin-left: 52px;
  //     }
  
  //     &__icon:nth-child(1) {
  //         margin-left: 0px;
  //     }
}

.mobile-comand-social__svg {
  fill: #F4F4FD;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-comand-social__link {
  
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #4D5AE5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
      &:focus {
        background-color: #31D0AA;
          
      }
  
      &:hover .mobile-comand-social__svg,
      &:focus .mobile-comand-social__svg {
        fill: #F4F4FD;
      }
     
}



