.site-nav .link {
  // color: $title-text-color;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__current {
  color: #404BBF;
  position: relative;

  &::after {
    content: '';
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    display: block;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.site-nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  margin-left: 120px;
    @media screen and (min-width: 1200px) {
      margin-left: 76px;
    }

  &__item:not(:last-child) {
    margin-right: 40px;
  }
}
