.section {
  
  @media screen and (min-width: 1158px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media screen and (min-width: 1158px) {
  .section-priority {
    padding-bottom: 0px;
  }
}

.section-priority__title {
  color: $title-text-color;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  // for 468
  text-align: center;
  font-size: 36px;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
  @media screen and (min-width: 1158px) {
    font-weight: 500;
  
  font-size: 20px;
  line-height: 1.2;

  }
}
.list .section-priority__title {
  margin-bottom: 8px;
}

.priority {
  &__text {
    font-weight: 500;
    font-size:16px;
    color: $primary-text-color;
    line-height: 1.5;
    letter-spacing: 0.02em;
    @media screen and (min-width: 1158px) {
      font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    
  
    }
  }
  &__item {
    max-width: 396px;
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 24px) / 2);
      width: 356px;
    }
    @media screen and (min-width: 1158px) {
      flex-basis: auto;
      width: 264px;
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  @media screen and (min-width: 1158px) {
    flex-wrap: nowrap;
  }
}

.icon-features {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F4FD;
 
  width: 264px;
  height: 112px;
  @media screen and (max-width:1157px) {
    display: none;
  }
}

