.section.comand {
  background-color: #f4f4fd;
}

.comand__title {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 72px;

  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.comand-list {
  display: flex;
  // for 468
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 72px;
  @media screen and (min-width: 768px) {
     flex-direction: row;
     flex-wrap: wrap;
      row-gap:64px;
      column-gap: 24px;
     
   
  }
  @media screen and (min-width: 1158px) {
    flex-direction: row;
    flex-wrap: nowrap;
 }
 

   &__item {
    
  //   @media screen and (min-width: 768px) {
       
       
  //     flex-basis: calc((100% - 24px)/2);
  //   }
  //   @media screen and (min-width: 1158px) {
  //     flex-basis: calc((100% - 72px)/4);
  //   }

    
    border: 1px solid transparent;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }


}


.job-title {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #ffffff;
}
.comand-list__name {
  color: $title-text-color;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.comand-list__prof {
  color: $primary-text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.comand-social {
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    margin-left: 24px;
  }

  &__icon:nth-child(1) {
    margin-left: 0px;
  }
}

.comand-social__link {
  width: 40px;
  height: 40px;
  text-decoration: none;
  display: flex;
  border-radius: 50%;
  background-color: #4D5AE5;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: blueviolet;
    border-radius: 50%;
  }

  &:hover .comand-social__svg,
  &:focus .comand-social__svg {
    fill: #ffffff;
  }
}

.comand-social__svg {
  fill: #F4F4FD;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
