*,
*::before,
*::after {
    box-sizing: border-box;
}

    $primary-text-color: #434455;
    $accent-color: #4D5AE5;
    $title-text-color: #2E2F42;
    $secondary-text-color: #ffffff;

body {
    background-color: $secondary-text-color;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    margin: 0px;
}